<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |a| %>
		  <%= render 'shared/error_messages', object: a.object %>

		  <%= a.label :name %>
		  <%= a.text_field :name %>

		  <%= a.label :email %>
		  <%= a.text_field :email %>

		  <%= a.label :password %>
		  <%= a.password_field :password %>

		  <%= a.label :password_confirmation, "Confirm Password" %>
		  <%= a.password_field :password_confirmation %>

		  <%= a.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>

		<%= gravatar_for @user %>
		<a href="http://gravatar.com/emails">Update Image</a>
	</div>
</div>